# Rust
target/
**/*.rs.bk
Cargo.lock

# Android
.gradle/
build/
local.properties
captures/
.externalNativeBuild
.cxx/
*.apk
*.keystore
# *.properties
local.properties
.gradle
build/
*.jks
*.base64

# PD Specific
daemon.log
pd.sock
rootfs/
bin/pd-daemon
